.banner-show {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 30vh;
  // min-height: 500px;
  max-height: 800px;
  display: flex;

  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }

  p {
    color: white;
    font-size: 32px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.card-checkout {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.avatar-show {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
