<footer>
  <div class="container">
    <div class="footer-content">
      <div class="logo">
        <%= link_to "#", class: "footer-brand" do %>
          <%= image_tag "lif-logo.svg" %> lif
        <% end %>
      </div>
      <div class="quick-links">
        <span class="quick-link-title">Quick links</span>
        <ul>
          <li>Find plant sitter</li>
          <li>Keep plants</li>
          <li>Another link</li>
        </ul>
      </div>
      <div class="about-links">
        <span class="quick-link-title">About</span>
        <ul>
          <li>Who are we</li>
          <li>Contacts</li>
          <li>Jobs</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
