.card-booking {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 12px 12px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.item-end {
  grid-column-end: five;
}

.card-booking .card-price {
  font-weight: bold;
  font-size: 18px;
}

.card-booking img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-booking p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-booking-infos {
  color: black;
  text-decoration: none !important;
}

.card-booking .card-booking-infos {
  padding: 16px;
}

.status-yellow p {
  background: rgb(248, 230, 160);
  border-radius: 6px;
  color: rgb(182, 134, 2);
  text-align: center;
  padding: 2px 0;
}

.status-red p {
  background: rgb(255, 184, 181);
  border-radius: 6px;
  color: rgb(182, 26, 26);
  text-align: center;
  padding: 2px 0;
}

.status-green p {
  background: rgb(202, 255, 181);
  border-radius: 6px;
  color: rgb(18, 141, 7);
  text-align: center;
  padding: 2px 0;
}
