.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.212);
  color: white;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 40px;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.filter-white {
  filter: invert(100%) sepia(100%) saturate(18%) hue-rotate(240deg) brightness(105%) contrast(100%);
}
