.navbar-lewagon {
  z-index: 10000;
  justify-content: space-between;
  background: white;
  background: transparent;
  transition: 0.5s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.212);
  color: white;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand{

    img {
      width: 40px;
    }
  }
}

.navbar-light {

  .navbar-nav .nav-link {
  color: white;
  margin-right: 16px;

    // Doesn't work (overwrited by bootstrap)
    :hover {
      color: rgba(255, 255, 255, 0.700) !important;
      opacity: 0.5;
    }
  }

  .navbar-title {
    color: white;
  }

  .filter-white {
  filter: invert(100%) sepia(100%) saturate(18%) hue-rotate(240deg) brightness(105%) contrast(100%);
}
}


.navbar-lewagon-white {
  background-color: rgb(255, 255, 255);

  .navbar-nav .nav-link {
    color: black;

    // Doesn't work (overwrited by bootstrap)
    :hover {
      color: rgba(0, 0, 0, 0.500);
      opacity: 0.5;
    }
  }

  .navbar-title {
    color: black;
  }

  .filter-white {
    filter: invert(100%) sepia(100%) saturate(18%) hue-rotate(240deg) brightness(0%) contrast(100%);
  }
}

.navbar .avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
